body {
    padding-top: 15px;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=424242ff&noise=525252&density=70&opacity=69");
    background-color: #424242;
}

canvas {
    box-shadow: 0px -0px 20px rgba(0, 0, 0, 0.75);
}
